/*body*/
.corpo{
    background-color: #f0f0f0;
}

section {
    border-top: 1px solid #ccc;
    padding: 40px;
}

#sobre {
    border-top: none !important;
}

#p1{
    display: flex;
}

.foto1 {
    margin-left: 20px;
    margin-top: 10px;
    border: 2px solid #ccc;
    max-width: 400px; /* Define uma largura máxima para a foto */
    max-height: 400px;
    object-fit: cover; /* Garante que a imagem cubra o espaço disponível sem distorcer */
}

.about-section {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.6;
}

.about-content{
   margin-top: -20px;
}

.about-content p {
    margin-bottom: 20px;
    text-align: justify;
}

#feedback{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}


/*maps*/

#mapa{
    max-width: 1000px;
    margin: 0 auto;
}

#mapadesc {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#mapadesc p{
    margin-left: 10px;
}

#addressInput {
    padding: 5px;
    font-size: 16px;
}
#addressSuggestions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    display:none;
    background-color: white;
}
#addressSuggestions li {
    cursor: pointer;
    padding: 5px;
}
#addressSuggestions li:hover {
    background-color: #f4f4f4;
}

#locateButton {
    margin-bottom: 10px;
    border: none;
    background-color: #07b8af;
    color: white;
    cursor: pointer;
    margin: 10px;
}

#locateButton:hover {
    background-color: #0b8f8b; /* Cor desejada quando o mouse passa por cima */
}

form input, form textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

button {
    background-color: #07b8af;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #05a39c;
}

#mapid { 
    height: 800px; 
    margin-bottom: 20px;
    border: 2px solid #ccc;
}
.leaflet-routing-container .leaflet-routing-collapse-btn {
    display: block !important;
}

/*avaliações*/

.avaliacao-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.medico-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.doct img {
    width: 200px; 
}

.doct2 img {
    width: 190px;
    padding-left:5px;
    padding-right: 5px; 
}

.avaliacao-details {
    margin-left: 30px;
}

.rating-stars {
    color: #07b8af; /* Cor verde para as estrelas */
    font-size: 40px; /* Tamanho das estrelas */
}

.nota-maxima {
    font-size: 39px;
    font-weight: bold;
    margin-top: 10px;
    color: #07b8af; /* Cor verde para o texto */
    font-style: italic;
}

.nota-maxima a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.nota-maxima a:hover {
    color: #068c81; /* Cor mais escura */
}

.doctoralia-text {
    margin-top: -20px;
    font-size: 16px;
    text-align: justify;
    line-height: 1.6;
}

.comentarios {
    max-width: 900px; /* Define uma largura máxima para os comentários */
}

.comentario {
    margin-bottom: 20px;
    border-left: 4px solid #07b8af; /* Cor verde para a borda esquerda */
    padding-left: 10px;
    line-height: 1.6;
}

.comentario p {
    margin: 0;
    text-align: justify;
}

.autor {
    font-style: italic;
    margin-top: 5px;
    color: #666; /* Cor cinza para o autor do comentário */
}

/*responsividade*/
@media (max-width: 950px) and (min-width: 851px){
    .foto1 {
        max-width: 300px; /* Define uma largura máxima para a foto */
        max-height: 400px;
        }
}

@media (max-width: 850px){
    #p1 {
        flex-direction: column;
    }

    .about-content div, .about-content p {
        width: 100%;
    }
    .foto1 {
        margin: 10px auto 10px;
        max-width: 100%;
        max-height: 350px;
        width: 100%;
    }
}

@media (max-width: 700px){
    .nota-maxima {
        font-size: 30px;
    }
    
    .doctoralia-text {
        font-size: 16px;
    }

    .doct img {
        width: 170px; 
    }
    
    .doct2 img {
        width: 160px;
    }
}

@media (max-width: 661px){
    .doct img {
        width: 150px; 
    }
    
    .doct2 img {
        width: 140px;
    }
}

@media (max-width: 615px){
    .avaliacao-details{
        text-align: center;
        margin-left: 0;
    }
    .nota-maxima {
        font-size: 30px;
    }
    
    .doctoralia-text {
        font-size: 16px;
    }

    .doct img {
        width: 170px; 
    }
    
    .doct2 img {
        width: 160px;
        margin:0;
    }
}

@media (max-width: 505px) {

/* Estilo para o mapa e formulário */
#mapa {
    max-width: 1000px;
    margin: 20px auto;
}

#mapadesc p{
    margin: 0;
}

#mapadesc, .footer-content, .redes, .contato, .social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addressSuggestions{
    order:0;
}

#addressInput, #locateButton {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#mapid {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    border: 2px solid #ccc;
}
}