body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.div-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.header-container {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adiciona sombra na parte inferior */
    position: relative; /* Assegura que a sombra seja corretamente posicionada */
    z-index: 1000; /* Eleva o cabeçalho acima de outros elementos */
}

header {
    background-color: #07b8af;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

.nav-links {
    display: inline;
}

.nav-links a{ /* Estilo para o botão de login */
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover{
    background-color: rgba(255,255,255,0.2);
}

/*rodapé*/
footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    padding: 30px;
}

.footer-content div{
    margin-right: 5%;
    margin-left: 5%;
}

.contact-info, .social-links {
    list-style-type: none;
    padding: 0;
}

.contact-info li, .social-links li {
    margin-bottom: 10px;
}

.social-links li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links li a:hover {
    color: #007bff;
}

.footer-bottom {
    background-color: #07b8af;
    color: #ffffff;
    padding: 10px;
    font-size: 0.8em;
}

.footer-bottom a {
    color: #ffffff;
    text-decoration: none;
}

.footer-bottom a:hover {
    font-weight: bold;
}

.contact-info li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info li a:hover {
    color: #007bff;
}

@media (max-width: 560px){
    header nav ul li {
        display: flex;
        flex-direction: column;
    }
    .nav-links{
        margin-top: -18px;
        display: none;
    }
    .menu-icon{
        display: block;
    }
}